{% extends "base.html" %}

{% block page_title %}
    Sign Up
{% endblock page_title %}

{% block content %}

    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400 bg-white">
        {% include 'mixins/auth/auth_form.html' with form=form cta="Sign up" %}

        <div class="mt-5">
            <span class="mr-2">이미 계정이 있나요?</span>
            <a href="{% url 'users:login' %}" class="text-teal-500 font-medium">Log in</a>
        </div>

    </div>
{% endblock content %}