{% extends "base.html" %}

{% block page_title %}
    Update Profile
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
    <div class="container lg:w-3/5 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400 bg-white">
        <p class="text-2xl font-bold text-mint-dark pb-3">정보 수정</p>
        <p class="pb-4 text-lg">기입한 정보는 사용자 상세 페이지에 나타납니다. 공유하고 싶은 정보를 입력하세요.</p>
        <form method="POST" action="{% url "users:update" %}" enctype="multipart/form-data">
            {% csrf_token %}
            {# {{ form.as_p }} #}
            <div class="p-2 mb-4 font-light rounded-lg shadow-lg">
                <p class="pr-4 text-lg font-light">프로필 사진</p>
                {{ form.avatar }}
                {{ form.bio }}
            </div>


            <div class="p-2 mb-4 rounded-lg shadow-lg">
                <div class="flex">
                    <span class="pr-4 text-lg font-light">군인이거나 입대할 예정이면 체크 <i class="fas fa-arrow-right"></i></span> {{ form.is_soldier }}
                </div>
                {{ form.mil_start }}
                {{ form.mil_fin }}
                {{ form.mil_address }}
            </div>
            <div class="p-2 mb-4 rounded-lg shadow-lg">
                <p class="pr-4 text-2xl font-light mb-2">개인 정보</p>
                <div class="flex"><span class="pr-4">사용자 표시 여부 (체크 해제시 홈 화면 사용자 목록에서 숨김 처리) <i class="fas fa-arrow-right"></i></span>{{ form.is_real }}</div>
                {{ form.last_name }}
                {{ form.first_name }}
                {{ form.username }}
                {{ form.phone }}
                {{ form.birthdate }}
                {{ form.student_id }}
                {{ form.homepage }}
                {{ form.boj_id }}
                {{ form.github_id }}
                {{ form.blog }}
                {{ form.address }}
            </div>
            <button class="btn bg-mint text-white">Update Profile</button>
        </form>
        <a href="{% url 'users:password' %}" class="text-teal-500 font-medium mt-6">Change Password</a>
        <a href="{% url 'users:delete' %}" onclick="return confirm('정말로 탈퇴할까요? 사용자 정보 및 작성한 모든 게시물, 댓글이 삭제됩니다. (사용자 표시 여부를 체크 해제하여 프로필 숨김 처리도 가능합니다.)')" class="text-red-400 font-medium mt-6">Delete Account</a>
    </div>

{% endblock content %}